<a href="https://colab.research.google.com/github/samarth-mistry/data-analysis-pandas/blob/main/series_evrlyt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
ice_cream = ["Choco","Vanila","Strawberry","Rum"]
pd.Series(ice_cream)

0         Choco
1        Vanila
2    Strawberry
3           Rum
dtype: object

In [ ]:
lottery = [1,2,3,4.5,5,6,7]
pd.Series(lottery)

0    1.0
1    2.0
2    3.0
3    4.5
4    5.0
5    6.0
6    7.0
dtype: float64

In [ ]:
sushi = {
    "Samlmon":"Orange",
    "Tuna":"Red",
    "Kel":"Brown"
}
kk = pd.Series(sushi)

In [ ]:
kk[0]
print(kk)

Samlmon    Orange
Tuna          Red
Kel         Brown
dtype: object

METHODS

In [ ]:
"heer".upper()

'HEER'

In [ ]:
values = [1,2,3]
values.append(4)
values

[1, 2, 3, 4]

In [ ]:
prices = pd.Series([2.45,5.67,9.88,6.99])

In [ ]:
prices.sum()
prices.mean()

6.2475000000000005

Attributes

In [ ]:
adjectives = pd.Series(["Smart","Dirty","Ugly","Kind","Kind"])

In [ ]:
adjectives.size

4

In [ ]:
adjectives.is_unique

False

In [ ]:
adjectives.values

array(['Smart', 'Dirty', 'Ugly', 'Kind', 'Kind'], dtype=object)

In [ ]:
type(adjectives.values)

numpy.ndarray

In [ ]:
adjectives.index

RangeIndex(start=0, stop=5, step=1)

Parameters and Arguments

In [ ]:
#parameter - expected input
#argument - concrete value we provide to parameter

#Difficuly(para) - Easy,Medium,Hard(args)

In [ ]:
fruits = ["apple","orange","plum","pumpkin","manga"]
weekdays = ["mon","tue","wed","thu","fri"]

pd.Series(fruits,weekdays)

mon      apple
tue     orange
wed       plum
thu    pumpkin
fri      manga
dtype: object

CSV

In [ ]:
pokemon = pd.read_csv("https://raw.githubusercontent.com/samarth-mistry/csv-data/main/pandas/pokemon.csv",usecols=["Pokemon"]).squeeze() 
#squeeze is for pandas series()

In [ ]:
google_stock = pd.read_csv("https://raw.githubusercontent.com/samarth-mistry/csv-data/main/pandas/google_stock_price.csv",usecols=["Stock Price"]).squeeze()

In [ ]:
google_stock

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [ ]:
pokemon.sort_values(ascending=False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [ ]:
pokemon = pd.read_csv("https://raw.githubusercontent.com/samarth-mistry/csv-data/main/pandas/pokemon.csv",index_col= "Pokemon").squeeze() 
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [ ]:
pokemon.sort_index(ascending=False)

Pokemon
Zygarde       Dragon
Zweilous        Dark
Zubat         Poison
Zorua           Dark
Zoroark         Dark
              ...
Aegislash      Steel
Accelgor         Bug
Absol           Dark
Abra         Psychic
Abomasnow      Grass
Name: Type, Length: 721, dtype: object

Inclution in python

In [ ]:
"car"in"racecar"

True

In [ ]:
"Zubat" in pokemon #searches in index by defalut
"Zubut" in pokemon.index

False

In [ ]:
"Poison" in pokemon.values

True

Extract value by index & label

In [ ]:
pokemon2 = pd.read_csv("https://raw.githubusercontent.com/samarth-mistry/csv-data/main/pandas/pokemon.csv",usecols=["Pokemon"]).squeeze() 
pokemon2.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [ ]:
# pokemon2[8]
# pokemon2[[100,23,42]]
pokemon2[27:35]

27    Sandslash
28      Nidoran
29     Nidorina
30    Nidoqueen
31     Nidoran♂
32     Nidorino
33     Nidoking
34     Clefairy
Name: Pokemon, dtype: object

get method series

In [ ]:
pokemon.get(0)
pokemon.get("Bulbasaur")
pokemon.get([5,10])
# print(pokemon.get(["Moltres","Meowth"]))
pokemon.get("Samarth","NULL")

'NULL'

In [ ]:
pokemon[[1,2,3]] = ['sam','arman','pinkty']
pokemon.head()

Pokemon
Bulbasaur      Grass
Ivysaur          sam
Venusaur       arman
Charmander    pinkty
Charmeleon      Fire
Name: Type, dtype: object

COPY method

In [ ]:
pokemon_df = pd.read_csv("https://raw.githubusercontent.com/samarth-mistry/csv-data/main/pandas/pokemon.csv",usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze()

In [ ]:
pokemon_series[0] = "wharever"
pokemon_series.head()

0      wharever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [ ]:
pokemon_df.head()

      Pokemon
0    wharever
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

In [ ]:
pokemon_df = pd.read_csv("https://raw.githubusercontent.com/samarth-mistry/csv-data/main/pandas/pokemon.csv",usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze().copy()

In [ ]:
pokemon_series[0]='Samarth'
pokemon_series.head()
pokemon_df.head()

      Pokemon
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

INPLACE

In [ ]:
google_data = (
    pd.read_csv("https://raw.githubusercontent.com/samarth-mistry/csv-data/main/pandas/google_stock_price.csv",usecols=["Stock Price"])
    .squeeze()
    .copy()
)
google_data = google_data.sort_values()
google_data

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [ ]:
google_data.sort_values(inplace=True)
google_data

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

MATHS in SERIES

In [ ]:
google_data.count()
google_data.sum()
google_data.mean()
google_data.product()
google_data.std()
google_data.max()
google_data.min()
google_data.median()

283.315

value_counts() | Unique values count, gives percentage

In [ ]:
# pokemon.value_counts()
pokemon.value_counts(ascending=True).head()

pokemon.value_counts(normalize=True).head()*100

Water      14.563107
Normal     12.898752
Grass       8.876560
Bug         8.737864
Psychic     6.518724
Name: Type, dtype: float64

apply()

In [ ]:
pokemon.head()
pokemon.apply(len).head()

Pokemon
Bulbasaur     5
Ivysaur       3
Venusaur      5
Charmander    6
Charmeleon    4
Name: Type, dtype: int64

In [ ]:
def rank_pok(pok_type):
  if pok_type in ["Grass","Fire","Water"]:
    return "Classic"
  elif pok_type == 'Normal':
    return "Boring"
  else:
    return "dont't care"

In [ ]:
poken_new_cat = pokemon.apply(rank_pok).head().copy()
poken_new_cat

Pokemon
Bulbasaur         Classic
Ivysaur       dont't care
Venusaur      dont't care
Charmander    dont't care
Charmeleon        Classic
Name: Type, dtype: object

MAP()

In [ ]:
mappings = {
    "Grass":"Classic",
    "Fire":"Classic",
    "Normal":"Classic",
    "Water":"Boring"
}
pokemon.map(mappings).sort_values()

Pokemon
Simipour    Boring
Mudkip      Boring
Manaphy     Boring
Suicune     Boring
Oshawott    Boring
             ...
Xerneas        NaN
Yveltal        NaN
Zygarde        NaN
Diancie        NaN
Hoopa          NaN
Name: Type, Length: 721, dtype: object